@tailwind base;
@tailwind components;
@tailwind utilities;

/* your CSS variables below */
:root {
  --background: 255, 255, 255;
  --foreground: 17, 17, 17;
  --primary: 37, 99, 235;
  --secondary: 147, 51, 234;
}

.dark {
  --background: 17, 17, 17;
  --foreground: 255, 255, 255;
  --primary: 245, 158, 11;
  --secondary: 16, 185, 129;
}
